@font-face {
  font-family: "FuenteUno";
  src: url(../assets/fonts/AE01014D.TTF) format("truetype");
}

:root{
  --color-primario: #00b050;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/images/fondo.jpg");
  color: white;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 176, 80, 0.6);
}

.form-container h1 {
  text-align: center;
  color: var(--color-primario);
  font-family: "FuenteUno", sans-serif;
  margin-bottom: 25px;
  font-size: 40px;
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"]:hover {
  background-color: #009442;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 176, 80, 0.5);
}

form input[type="submit"] {
  width: 100%;
  background-color: var(--color-primario);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 25px;
  font-size: 20px;
}

