/* === FUENTES PERZONALIZADAS === */
@font-face {
  font-family: "FuenteUno";
  src: url(../assets/fonts/AE01014D.TTF) format("truetype");
}

@font-face {
  font-family: "FuenteDos";
  src: url(../assets/fonts/DS-DIGI.TTF);
}
/* === CONFIGURACIÓN GLOBAL === */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  color: var(--color-secundario);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Clase para compensar el navbar fijo
.content-offset {
  padding-top: 10rem; /* Ajusta este valor según la altura real de tu navbar 
} */

/* === VIDEO DE FONDO === */
.encabezado-video {
  position: relative;
  height: 100vh;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
  }
}

/* === TÍTULO PRINCIPAL=== */
header {
  height: 100dvh;
  position: relative;
}

.titulo-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.titulo-principal h1 {
  font-family: "FuenteUno", sans-serif;
  margin-bottom: 0;
  font-size: clamp(4.5rem, 6vw, 16rem); /*Función clamp CSS moderno*/
  /*min | preferido | max*/
  letter-spacing: 0.2rem;
  color: var(--color-primario);
  text-shadow: 0 0 1rem rgba(0, 255, 153, 0.7);
}

.titulo-principal h2 {
  margin-top: 0;
  color: var(--color-secundario); /* color plateado */
  text-shadow: 0 0 1rem var(--color-secundario);
  font-family: "FuenteDos", sans-serif;
  font-size: clamp(1.8rem, 2.5vw, 6rem);
  letter-spacing: 0.2rem;
}

/* === SECCIÓN TUTORIAL=== */
.tutorial {
  max-width: 80rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0.2rem solid var(--color-primario);
  border-radius: 1rem;
  font-size: 1.6rem;
}
.tutorial h2 {
  color: var(--color-primario);
  text-align: center;
  font-size: 2.5rem;
  font-family: "FuenteDos", sans-serif;
}

.tutorial ol {
  padding-left: 2rem;
}

.tutorial li {
  margin-bottom: 1rem;
}

.margin-arriba {
  padding-top: 10rem;
}
